.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #2b323e;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 6px 0 #232931;
  font-size: 8rem;
  color: #5dcc4e;
}

p {
  text-shadow: 3px 0 #232931;
  font-size: 2rem;
  color: #5dcc4e;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button{
  display: inline-block;
  margin: 3rem 0 0 0;
  border-color: #000;
  border-radius: 6px;
  padding: 0;
  height: 2rem;
  width: 5rem;
  box-shadow: 5px 5px  #232931;
  font-size: 1rem;
  color: #5dcc4e;
  background-color: #2b323e;
  font-family: 'Indie Flower', cursive;
  transition: 0.5s;
}
button:hover
{
  background-color: #232931;
  transform: scale(1.5);
  box-shadow: 4px 2px 3px #5dcc4e;
}

footer {
  margin-top: 5%;
  color: #ffffff;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
